<section class="mt-5">
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table table-md mt-2 w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Ícono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @for(country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{index + 1}}</td>
          <td>{{country.flag}}</td>
          <td><img src="{{country.flagSvg}}" alt="{{country.name}}" class="w-10 object-cover"></td>
          <td>{{country.name}}</td>
          <td>{{country.capital}}</td>
          <td><span class="badge badge-accent">{{country.population | number}}</span></td>
          <td><a href="" class=" link-primary cursor-pointer">Ver detalles</a></td>
        </tr>

        }

      </tbody>
    </table>
  </div>



</section>
